{{#partial "contenido"}}

<div class="jumbotron">
  <h2><u>Opciones de administrador</u></h2>
  <ul>
	  <li><a href="/admin/POIS">Administrar Pois</a></li>
	  <li><a href="/admTerminales">Administrar Terminales</a></li>
	  <li><a href="/historial">Historico de consultas</a></li>
  </ul>
</div>	

{{/partial}}

{{>layout.hbs}}