{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Opciones de administrador</h1>
  <h1></h1>
  <h1>Administrar Pois</h1>
  <h1>Administrar Terminales</h1>
  <h1>Historico de consultas</h1>
</div>	

{{/partial}}

{{>layout.hbs}}