{{#partial "contenido"}}

	
<div class="jumbotron">
	<form action="/admin/consultas/resultados" method="GET">
		<div class="row">
		
		
		lel

		</div>
		
	
	
	</form>
</div>	
<table class="table table-stripped">
		<thead>
			<tr>
        		<th>ID</th>
        		<th>Nombre</th>
      		</tr>
		</thead>
	 	acaaaaa
		</tbody>
</table>
{{/partial}}

{{>layoutAdmin.hbs}}

 <script>
 $('#detallesConsulta').on('hidden.bs.modal', function () {
   $(this).removeData('bs.modal');
 });
 </script>