{{#with detalles}}
<div class="panel panel-default">
	<div class="panel-heading" alin>
		<span class="glyphicon glyphicon-globe"></span>{{nombre}} ({{id}}) </div>
  
	<div class="panel-body">
		[
		
		----- DATOS DE LA TERMINAL ------
		
		]
	</div>
	
	<div class="panel-footer text-right">
	 	<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
	</div>
</div>
 
{{/with}}