{{#partial "contenido"}}

<form action="/terminal/" method="GET">
	<div class="jumbotron">
	  <h2>Buscar: </h1>
	  <input type="text" placeholder="Texto 1" name="texto1">
	  <input type="text" placeholder="Texto 2" name="texto2">
	  <button class="btn btn-outline-success" type="submit"><span class="glyphicon glyphicon-search"></span>  Buscar</button>
	</div>	
</form>
<table class="table table-stripped">
		<thead>
			<tr>
        		<th>Nombre</th>
        		<th>Direccion</th>
        		<th>Detalles</th>
      		</tr>
		</thead>
	 		{{#each pois}}
		<tbody>
		<tr>
			<td> {{nombre}} </td>
			<td> {{direccion.calle}} </td>
			<td>
			
			<a href="/terminal/detalles?id={{id}}" data-toggle="modal" data-target="#detallesPOI">Detalles</a>
			<!-- <button type="button" class="btn btn-info btn-m" data-toggle="modal" data-target="#detallesPOI">Detalles</button> -->
			<!-- Modal -->
			  <div class="modal fade" id="detallesPOI" role="dialog">
			    <div class="modal-dialog">
			    	<div class="modal-content" >
				    </div>
			      
			    </div>
			  </div>
			
		</td>
		
		</tr>
		{{/each}}
		</tbody>
</table>
{{/partial}}

{{>layout.hbs}}

<script>
$('#detallesPOI').on('hidden.bs.modal', function () {
  $(this).removeData('bs.modal');
});
</script>