{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Opciones de administrador</h1>
  <ul>
	  <li><a href="/admPois">Administrar Pois</a></li>
	  <li><a href="/admTerminales">Administrar Terminales</a></li>
	  <li><a href="/historial">Historico de consultas</a></li>
  </ul>
</div>	

{{/partial}}

{{>layout.hbs}}