{{#partial "contenido"}}

<div class="jumbotron">
  <h1>Buscar: </h1>
  <input type="text" placeholder="Texto 1" name="texto1">
  <input type="text" placeholder="Texto 2" name="texto2">
  <button class="btn btn-outline-success" type="submit">Search</button>
</div>	

{{/partial}}

{{>layout.hbs}}